vich_uploader:
    db_driver: orm # or mongodb or propel or phpcr
    default_filename_attribute_suffix:  _name
    storage: file_system
    twig: true
    metadata:
        cache: file
        file_cache:
            dir: '%kernel.cache_dir%/vich_uploader'
        auto_detection: true
    mappings:
        product_image:
            uri_prefix: uploads/product
            upload_destination: %kernel.root_dir%/../web/uploads/product
            namer: vich_uploader.namer_origname
        issuer_image:
            uri_prefix: uploads/issuer
            upload_destination: %kernel.root_dir%/../web/uploads/issuer
            namer: vich_uploader.namer_origname
