{% block contact %}
    <section id="contact">
        <div class="overlay">
            <div class="container">
                <div class="row contact">
                    <h1>
                        Acércate a Nosotros Sin Importar el Medio<br>
                        Para Sentirte Bella y con Estilo
                    </h1>
                    <p>
                        Aliquam tempor arcu odio, eu faucibus tellus pellentesque congue.<br> 
                        Sed diam velit, elementum et placerat eget,<br> 
                        rutrum sit amet eros aliquam ut tincidunt dolor. 
                    </p>
                    <div class="col-md-4">
                        <a class="info" href="">
                            <div class="caption">
                                <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
                                <h2>Visita la Tienda</h2>
                                <p>
                                    Donec convallis augue lacus, sit amet imperdiet est auctor dapibus.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="info" href="">
                            <div class="caption">
                                <i class="fa fa-whatsapp fa-5x" aria-hidden="true"></i>
                                <h2>Llama o Inbox</h2>
                                <p>
                                    Donec convallis augue lacus, sit amet imperdiet est auctor dapibus.
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="info" href="">
                            <div class="caption">
                                <i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
                                    <h2>Envía un E-m@il</h2>
                                    <p>
                                        Donec convallis augue lacus, sit amet imperdiet est auctor dapibus.
                                    </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="google-map">
        <div class="container-fluid">
            <div class="row google-map">
                <div id="map"></div>
            </div>
        </div>
    </section>
{% endblock %}