{% block headerproduct %}
    <header class="site-header site-header-products">
        <div class="container">
            <div class="header-home-content">
                <h1>
                    Productos
                </h1>
                <p>
                    Mauris congue, risus at lobortis volutpat, justo neque rhoncus urna, in ultricies tortor elit at sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
                </p>
            </div>
        </div>
    </header>
{% endblock %}