{% block header %}
    <header id="home" class="site-header site-header-inicio">
        <div class="header-home-content">
            <p>Tenemos lo que estás buscando</p>
            <h1>Sabemos lo que quieres.</h1>
            <p>
                <a href="#service" class="btn btn-cta page-scroll">Cuéntame</a>
            </p>
        </div>
    </header>
{% endblock %}