{% block service %}
     <section id="service">
        <div class="overlay">
            <div class="container">
                <div class="row service ">
                    <h1>
                        Duis Turpis a <span class="outstanding">Ornare</span>
                    </h1>
                    <p>
                        Phasellus vitae rhoncus ipsum. Aliquam ultricies, velit sit amet scelerisque tincidunt, dolor neque consequat est, a dictum felis metus eget nulla.
                    </p>
                </div>
                <div class="row services">
                    <div class="col-md-6 col-sm-6 text-left">
                        <h2> 
                            <i class="fa fa-check-circle" aria-hidden="true"></i> Lorem Ipsum
                        </h2>
                        <p>
                            Phasellus vitae rhoncus ipsum. Aliquam ultricies, velit sit amet scelerisque tincidunt, dolor neque consequat est, a dictum felis metus eget nulla.
                        </p>
                        <h2> 
                            <i class="fa fa-check-circle" aria-hidden="true"></i> Lorem Ipsum
                        </h2>
                        <p>
                            Phasellus vitae rhoncus ipsum. Aliquam ultricies, velit sit amet scelerisque tincidunt, dolor neque consequat est, a dictum felis metus eget nulla.
                        </p>
                        <h2> 
                            <i class="fa fa-check-circle" aria-hidden="true"></i> Lorem Ipsum
                        </h2>
                        <p>
                            Phasellus vitae rhoncus ipsum. Aliquam ultricies, velit sit amet scelerisque tincidunt, dolor neque consequat est, a dictum felis metus eget nulla.
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <img class="img-responsive center-block" src="{{ asset('images/service/product-photo.png') }}">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}