{% block sidebar %}
    <nav class="sidebar-nav">
        {{ knp_menu_render('KoreAgentBundle:Builder:sideMenu', {'currentClass': 'active', 'ancestorClass': 'active', 'leaf_class': 'leaf'}) }}
    </nav>
{% endblock %}
