{% block about %}
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>{{ 'about.title'|trans }}</h1>
                    <p>{{ 'about.content'|trans }}</p>
                </div>
                <div id="cita" class="col-md-6">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <img src="{{ asset('images/about/foto-cita.jpg') }}" alt="" class="img-circle img-responsive">
                    </div>

                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <blockquote>
                            <p class="cita">"Mauris vitae volutpat magna. Mauris quis ligula turpis. Morbi gravida luctus malesuada."</p>
                            <footer>
                                <p>Nombre Apellido</p>
                                <small>Fundadora Belleza Estilo</small>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}