{% block header %}
    <header id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-content">
                        <p>{{ 'header.subtitle'|trans }}</p>
                        <h1>{{ 'header.title'|trans }}</h1>
                        <p><a type="button" href="#about" class="btn btn-default page-scroll">{{ 'header.calltoaction' }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}